@font-face{
  font-family: 'NeueMachina';
  src: url('./fonts/Neue\ Machina\ /NeueMachina-Regular.otf');
}

body {
  margin: auto;
  max-width: 960px;
  
  font-family: 'NeueMachina';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#background-video{
  filter: brightness(70%);
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



.nav-grid{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height:  100px !important;
}

.button-group{
  margin-top:2px;
  display:flex;
  margin-left: 145px;
  padding: 5px;
  
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  height: 65px;
}

.shadow{
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

.icon-container{
 
 
  display:flex;
  flex-direction: column;
  height:200px;
  justify-content: space-evenly;
  margin-left: 1em;
  
  padding: 10px;
}
.navbar{
  height: 100px !important;
 
}

.order-form{
  width: 500px;
  height: 625px;
}

li{
  list-style-type: none;
}

.form-button-group{
  display:flex;
  flex-direction: column;
  
  
}

.form-button-group Button{
  padding:5px;
  margin:5px;
}

.close-button{
  position: absolute !important;
  top: 0;
  right: 0;
}

.payment-form{
  margin-top:4em;
}


.loading-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.burger-icon{
  visibility: hidden;
}

.meeting-button{
  margin-top:1.3em !important;
  margin-right: 1.3em !important;
}

.meeting-button:hover{
  background-color: transparent !important;
  box-shadow: 1px 1px 9px rgba(255,255,255, 0.5) !important;
}

.success-div{
  display:flex;
  justify-content: center;
  flex-direction: column;
}

.about-box{
  width:50vw;
  height: 90vh;
}
@media only screen and (max-width:450px){
  .order-form{
    height:655px;
  }
  .sidebar{
    width:50vw !important; 
  }
  .body{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .title-group{
    margin-left:-60%;
  }
  .navbar{
    width:50vw !important;
  }
  .order-form{
    width: 98vw !important;
  }
  .burger-icon{
    visibility: visible;
  }
}

